.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(192, 185, 185, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
  }
  
  .modal {
    background: rgb(1, 1, 1);
    padding: 1rem;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    color: red
    ;
  }
  